.block{
    background: #b9bbbe ;
    min-height:200px
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}
.col-4_1{
    flex: 0 0 50%;
    max-width: 50%;
}
.block_1{
    min-height: 80px;
    background: #b9bbbe ;
}

@media (min-width: 768px) {

    .col-8 {
        order: -1;
    }
}
@media (max-width: 768px) {

    .col-8 {
        order: 1;
    }
    .col-4 {
        order: 2;
    }
}